<ul class="pull-right">
    <li style="vertical-align: middle;display: inline-block;">
        每页显示
        <input type="text" ng-model="vm.size" pattern="[\d]{1,}" style="width: 30px;text-align: center;">
        条
    </li>
    <li style="vertical-align: middle;display: inline-block;">
        <ul uib-pagination
            class="pagination pull-right"
            items-per-page="vm.size"
            ng-model="vm.page"
            total-items="vm.totalItems"
            max-size="5"
            ng-change="vm.search()"
            boundary-links="true"
            boundary-link-numbers="true"
            rotate="true"
            force-ellipses="true"
            first-text="<<"
            last-text=">>"
            previous-text="<"
            next-text=">"
            style="vertical-align: middle;display: inline-block;"
        >
        </ul>
    </li>
    <li style="vertical-align: middle;display: inline-block;">
        去第
        <input type="text" ng-model="vm.newPage" pattern="[\d]{1,}" style="width: 30px;text-align: center;">
        页
    </li>
    <li style="vertical-align: middle;display: inline-block;">
        <a ng-click="vm.search()" class="btn btn-default">确定</a>
    </li>
</ul>