<div class="newBanner">
    <div class="primary-list margin-0">
        <div class="list-title">
            <span class="list-title-text">{{vm.pageTitle}}</span>
            <button class="btn btn-default pull-right" onclick="history.go(-1)">返回</button>
        </div>
        <form name="bannerForm" novalidate>
            <div class="container roles-eles">
                <div class="row margin-0 margin-bottom-30">
                    <div class="col-xs-3 padding-0">
                        <p class="search-item required">Banner图标题：</p>
                    </div>
                    <div class="col-xs-6 padding-0">
                        <input type="text" class="form-control" placeholder="请输入banner图标题（2~10个汉字）" ng-model="vm.detail.title" required>
                    </div>
                </div>
                    <!--<p ng-show="" class="errorTips">标题格式错误/重复，请重试。</p>-->
                <div class="row margin-0 margin-bottom-30">
                    <div class="col-xs-3 padding-0">
                        <p class="search-item required">轮播间隔（S）:</p>
                    </div>
                    <div class="col-xs-6 padding-0">
                        <input type="text" class="form-control" placeholder="请输入轮播间隔（数字组成的整数）" ng-model="vm.detail.intervalTime" required>
                    </div>
                </div>
                    <!--<p ng-show="" class="errorTips">轮播间隔错误，请重试。</p>-->
                <div class="row margin-0 margin-bottom-30">
                    <div class="col-xs-3 padding-0">
                        <p class="search-item">URL地址：</p>
                    </div>
                    <div class="col-xs-6 padding-0">
                        <input type="text" class="form-control" placeholder="请输入URL地址，可为空。" ng-model="vm.detail.url" >
                    </div>
                </div>
                <div class="row margin-0 margin-bottom-30">
                    <div class="col-xs-3 padding-0">
                        <p class="search-item required">上传Banner图：</p>
                    </div>
                    <div class="col-md-9 padding-0">
                        <div upload-file src-img="vm.srcImg" show-img="vm.showImg"></div>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button class="btn btn-primary" ng-click="vm.saveBanner()" ng-disabled="bannerForm.$invalid">保存</button>
                <button class="btn btn-default" onclick="history.back(-1)">取消</button>
            </div>
        </form>
    </div>
</div>