<div class="change_tel2 sub_page">
    <div class="module">
        <div class="page_header">
            <i class="fa fa-chevron-left back_page" onclick="history.go(-1)"></i>
            <span onclick="history.go(-1)">更换手机</span>
        </div>
        <form name="changeTelForm" novalidate>
            <div class="verify_tip">
                您要更换的新手机号。
            </div>
            <div class="new_phone  verify_code flex">
                <span class="lineHeight_60 flex-none">手机号：</span>
                <input type="text"
                       name="newPhone"
                       class="form-control font-size-normal"
                       placeholder="请输入新手机号"
                       autocomplete="off"
                       onkeyup="this.value=this.value.replace(/\D/g,'')"
                       onafterpaste="this.value=this.value.replace(/\D/g,'')"
                       ng-model="vm.newPhone"
                       ng-minlength="11"
                       maxlength="11"
                       required>
            </div>
            <div class="phoneNum_tip">
                <p ng-bind="vm.message" class="msg">手机号输入错误/手机号已绑定，请重试！</p>
            </div>
            <div class="verify_code">
                <span class="lineHeight_60 flex-none">验证码：</span>
                <verify-code code="vm.newCode" class="margin-right"></verify-code>
                <countdown ng-click="vm.getMsgCode()"></countdown>
            </div>
            <div class="sms_tip">
                <p>60s后可重新获取</p>
            </div>
            <div>
                <button class="complete_verify next_step"
                        ng-click="vm.completeChangeTel()"
                        ng-disabled="changeTelForm.$invalid">下一步</button>
            </div>
        </form>
    </div>
</div>