<div class="password" ng-controller="passwordCtrl">
    <div class="primary-list pwd-page">
        <div class="list-title">
            <span class="list-title-text">修改密码</span>
        </div>
        <form name="change_pwd" novalidate>
            <div class="container input-eles">
                <div class="row pwd-old">
                    <div class="col-xs-3 padding_0">
                        <span class="search-item required">输入旧密码：</span>
                    </div>
                    <div class="col-xs-9 padding_0">
                        <input type="password"
                               class="form-control"
                               ng-model="vm.oldPassword"
                               placeholder="若包含字母，请注意区分大小写。"
                               autocomplete="off"
                               minlength="6"
                               maxlength="18"
                               required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 padding_0"></div>
                    <div class="col-xs-9 padding_0">
                        <p class="pwd-tips" ng-bind="vm.oldMessage">旧密码输入错误，请重试。</p>
                    </div>
                </div>
                <div class="row pwd-new">
                    <div class="col-xs-3 padding_0">
                        <span class="search-item required">输入新密码：</span>
                    </div>
                    <div class="col-xs-9 padding_0">
                        <input type="password"
                               class="form-control"
                               ng-model="vm.newPassword"
                               placeholder="6-18位，至少含数字/字母/符号2种组合。"
                               autocomplete="off"
                               minlength="6"
                               maxlength="18"
                               required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 padding_0"></div>
                    <div class="col-xs-9 padding_0">
                        <p class="pwd-tips" ng-bind="vm.newMessage">新密码格式错误，请重试。</p>
                    </div>
                </div>
                <div class="row pwd-confirm">
                    <div class="col-xs-3 padding_0">
                        <span class="search-item required">确认新密码：</span>
                    </div>
                    <div class="col-xs-9 padding_0">
                        <input type="password"
                               class="form-control"
                               ng-model="vm.confirmPassword"
                               placeholder="请再次输入并确认新密码。"
                               autocomplete="off"
                               minlength="6"
                               maxlength="18"
                               required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 padding_0"></div>
                    <div class="col-xs-9 padding_0">
                        <p class="pwd-tips" ng-bind="vm.confirmMessage">新密码两次输入不一致，请重试。</p>
                    </div>
                </div>
                <div class="row">
                    <button type="submit"
                            class="btn btn-default pwd-save"
                            ng-disabled="change_pwd.$invalid"
                            ng-click="vm.savePassword()"
                    >保存</button>
                </div>
            </div>
        </form>
    </div>
</div>