.modal-dialog{
    width: 70%;
    margin: 50% auto;
}
.modal-content{
    border-radius: 20px;
}
.modal-body{
    font-size: 34px;
    text-align: center;
}
.bootbox-body{
    padding: 30px;
}
.modal-footer{
    display: flex;
    justify-content: center;
}
.close{
    font-size: 50px;
}
.modal-btn{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 75px;
    font-size: 36px;
    border-radius: 15px;
    margin: auto 5px;
}