<div class="primary-list">
    <div class="list-title" >
        <span class="list-title-text">投资合同</span>
        <button class="btn btn-default pull-right" onclick="history.go(-1)">返回</button>
    </div>
    <div>《聚金融投资合同》</div>
    <div>委托人：{{vm.realName}}</div>
    <div>身份证号码：{{vm.idCard}}</div>
    <div>手机号：{{vm.phoneNum}}</div>
    <div> 受托人：聚金融</div>
    <div>鉴于委托人为在聚金融平台运营实名的注册用户，现处于聚金融平台的理财计划，为优化委托人用户体验，委托人就理财相关标的、
        资金划转、退出等相关事项向受托人做出如下授权：</div>
    <div>一、授权范围</div>
    <div>（一）代委托人在聚金融平台上点击确认立即购买、投资资金和《富友综合支付服务协议》等业务流程中的全部协议。</div>
    <div>（二）代委托人进行划转出借资金，收回借款本息、收取债权转让款项等业务流程中涉及到全部资金管理。</div>
    <div>  二、授权出借的账户</div>
    <div>（一）授权出借的账户</div>
    <div>聚金融平台账号：13366660608</div>
    <div>二）授权出借的金额：人民币（大写）{{vm.amount | Chinese}}，（小写）¥{{vm.amount}}.00元。</div>
    <div>三、授权期限</div>
    <div>本授权期限自委托人与受托人间签署《聚金融投资合同》之日起至完全退出该理财计划（或紧急退出）之日止。</div>
    <div>四、本委托书经委托人在聚金融平台以线上点击确认的方式签署。</div>
    <div style="position:absolute; top: 360px;right: 90px;">
        <img src="../../imgs/u36.png" height="100" width="100"/>
    </div>
    <div style="margin-left: 90%;">
        <div>委托人：{{vm.realName}}</div>
        <div>受托人：聚金融</div>
        <div>{{vm.createdAt | date: 'yyyy年MM月dd日'}}</div>
    </div>
</div>