<div class="newMessage">
    <div class="primary-list margin-0">
        <div class="list-title">
            <span class="list-title-text">消息新增/编辑</span>
            <button class="btn btn-default pull-right" onclick="history.back(-1)">返回</button>
        </div>
        <div class="opinion">
            <div class="subTitle lineHeight-34">
                <p>推送内容</p>
            </div>
            <div class="container lineHeight-34">
                <div class="row margin-0 margin-bottom-30">
                    <div class="col-xs-3 col-md-2 padding-0">
                        <p class="required">消息标题：</p>
                    </div>
                    <div class="col-xs-7 padding-0">
                        <input type="text" class="form-control" ng-model="vm.detail.title">
                    </div>
                    <div class="col-xs-1">
                        <p class="lineHeight-34">{{vm.detail.title.length || 0}}/20</p>
                        <!--0为动态增减-->
                    </div>
                </div>
                <div class="row margin-0">
                    <div class="col-xs-2 col-lg-1"></div>
                    <!--<p class="errorTips padding-0" ng-show="">字数已超过上限，请重新编辑。</p>-->
                </div>
                <div class="row margin-0 margin-bottom-30">
                    <div class="col-xs-3 col-md-2 padding-0">
                        <p class="required">消息内容:</p>
                    </div>
                    <div class="col-xs-7 padding-0">
                        <textarea class="form-control" name="newsContent" maxlength="200" ng-model="vm.detail.content"></textarea>
                    </div>
                    <div class="col-xs-1">
                        <p class="lineHeight-34">{{vm.detail.content.length || 0}}/200</p>
                    </div>
                </div>
                <div class="row margin-0">
                    <div class="col-xs-2 col-lg-1"></div>
                    <!--<p class="errorTips padding-0" ng-show="">字数已超过上限，请重新编辑。</p>-->
                </div>
            </div>
        </div>
        <div class="pushSetting margin-bottom-30">
            <div class="subTitle lineHeight-34">
                <p>推送设置</p>
            </div>
            <div class="container">
                <div class="row margin-0">
                    <div class="col-xs-3 col-lg-2 padding-0">
                        <p class="required">推送时间：</p>
                    </div>
                    <div class="col-xs-6 col-md-2 padding-0">
                        <input type="radio" name="time" id="immediate">
                        <label for="immediate">立即</label>
                        <input type="radio" name="time" id="timing" checked>
                        <label for="timing">定时</label>
                    </div>
                    <div class="col-xs-4 col-md-6 padding-0"
                         style="display: flex; align-items: center;min-width: 400px;">
                        <div class="col-xs-3 col-lg-2"></div>
                        <date-picker time="vm.sendDate" class="col-xs-4"></date-picker>
                        <time-picker time-node="vm.sendTime"></time-picker>
                    </div>
                </div>
                <div class="row margin-0">
                    <div class="col-xs-3 col-lg-2 padding-0">
                        <p class="required">推送对象：</p>
                    </div>
                    <div class="col-xs-2 padding-0">
                        <input type="radio" id="object" checked>
                        <label for="object">所有人</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="confirm buttons">
            <button class="btn btn-primary" ng-click="vm.consoleIt()">确认推送</button>
        </div>
    </div>
</div>