    /*body {*/
    /*width: 100vw;*/
    /*height: 100vh;*/
    /*!*background: url(../images-task6/3.png) no-repeat center;*!*/
    /*background-size: cover;*/
/*}*/
.shade{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0,.7);

    z-index: 10;
}
.shadeTip{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 60vw;
    height: 60vw;
    background-color: #fff;
    border-radius: 10%;
    padding: 20vw 7vw;
    text-align: center;
    line-height: 3em;
}
.loginContent{
    font-size: 36px;
    max-width: 750px;
    margin: 0 auto;
}
.loginPage{
    height: 100vh;;
    background-color: #fff;
}
.bg {
    width: 80%;
    margin: 0 auto 50px;
    font-size: 40px;
}
.head {
    position:fixed;
    /*margin:0 auto;*/
    top: 0;
    left:0;
    right:0;
    max-width: 750px;
    font-size: 42px;
    background-color: #d7a85e;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.backpack{
    margin: 100px 0 100px;
    background-color: #fff;
}
.prePage{
    position:fixed;
    top: 30px;
    left:30px;
}
.user,.psw{
    padding: 10px;
    background-color: #fff;
    margin:  0 auto 10px auto ;
    border-bottom: 1px solid #EAEDEE;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: #333;
}


.bg .bor {
    width: calc(100% - 120px);
    border: 0;
    outline:none;
    padding: 0 0 0 10px;
    font-size: 34px;
    border-left: 1px solid #EAEDEE;
}
.user .bor{
    width: calc(100% - 60px);
}
.psw .bor{
    width: calc(100% - 240px);
}
.loginContent .logo{
    width: 400px;
    height: 400px;
    margin: 140px auto 60px;
    display:block;
}
.user img,.psw img{
    vertical-align: middle;
    margin-right: 5px;
}
.warn {
    width: 80%;
    height: 50px;
    margin: 0 auto;
    color: #ff0000;
    text-align: center;
}

.login {
    display: block;
    width: 100%;
    line-height:80px;
    margin: 30px auto 50px;
    background: #d7a85e;
    color: #fff;
    border-radius: 10px;
}
/*.registe{*/
    /*float:left;*/
/*}*/
/*.forget{*/
    /*float:right;*/
/*}*/
.confirm{
    display: block;
    width: 100%;
    line-height:40px;
    margin: 30px auto 50px;
    background: #d7a85e;
    color: #fff;
    border-radius: 5px;
}
.userAgreement{
    margin: 110px 20px 40px;
    padding: 50px;
    background-color: #fff;
    text-indent: 2em;
    font-size: 34px;
    box-shadow: 3px 3px 10px #666;
}
.userAgreement p{
    margin: 20px 0;
}


input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance:searchfield-cancel-button;
}

