.errorTips{
    color: #f00;
    padding-left: 33%;
    margin-top: -30px;
    //line-height: 30px;
}
.padding-0{
    padding: 0;
}
.margin-0{
    margin: 0;
}
//.padding-33{
//    padding-left: 33%;
//}
.margin-bottom-30{
    margin-bottom: 30px;
}
.lineHeight-34{
    line-height: 34px;
}
.opinion,
.pushSetting,
.confirm,
.reply{
    padding: 20px 40px 0;
    .container{
        padding-left: 5%;
    }
}
.buttons{
    display: flex;
    justify-content: space-between;
    width: 140px;
    margin: 20px auto;
}
#msg{
    color: #f00;
    text-align: center;
    line-height: 25px;
    margin: 0;
    //margin-top: -25px;
}